* {
  margin: 0; // Remove o espaçamento externo padrão dos navegadores
  padding: 0; // Remove preenchimento padrão
  box-sizing: border-box; // Inclui padding e borda no cálculo do tamanho
}

header {
  background-color: #66bb6a;
  height: 10vh;
  color: #ffffff;
  //padding-left: 50px; Padding move internamente, movendo da esquerda para a direita
  //padding-top: 25px; movendo internamente de cima para baixo
  //padding-bottom: 20px; movendo internamente de baixo para cima (comentar o padding top)
  //padding-right: 50px; Move internamente da direita para a esquerda

  // margin: 30px; Mostrar que a margin move toda a caixa, movendo os 4 lados (cima, direita, baixo, esquerda)
  // margin-top: 20px; // top - em cima
  // margin-left: 30px; // left - esquerda
  // margin-right: 50px; // right - direita
  // margin-bottom: 20px; // bottom -  embaixo

  h2 {
    display: block; //Ocupa toda a linha
    display: inline; //Ocupa somente o tamanho necessário
    display: inline-block; // Deixa na mesma linha,e permite o controle de largura e altura
    width: 40%;
    padding-left: 160px;
    margin-top: 20px;
    font-family: "Sansita Swashed", sans-serif;
    font-size: 2rem;
  }

  /* O nav também é block por padrão, então muda o comportamento */

  nav {
    display: block; //Ocupa toda a linha
    display: inline; //Ocupa somente o tamanho necessário
    width: 40%; //Com o inline, ele não aceita tamanhos.
    display: inline-block; // Deixa na mesma linha,e permite o controle de largura e altura
    text-align: end;

    a {
      font-family: "Roboto", sans-serif;
      margin-left: 40px; // espaço entre os links
      color: #ffffff;
      text-decoration: none; //Tira a estilização padrão da tag A
      font-size: 1.18rem;
    }
  }
}

.background {
  height: 60vh;
  background-image: url("./assets/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  text-align: center;
  padding-top: 180px;
  width: 100%;
  
  
  
  
  h1 {
    font-size: 4.6rem;
    margin-bottom: 20px;
    font-family: "Sansita Swashed", sans-serif;
  }

  p {
    font-family: "Roboto", sans-serif;
    font-size: 1.65rem;
    width: 50%;
    margin-bottom: 20px;
    margin-left: 500px;
    text-align: center;
    
    
    
    
  }

  button {
    background-color: #66bb6a;
    color: #ffffff;
    border: none;
    padding: 15px 30px;
    border-radius: 30px;
    font-size: 1.18rem;
    font-family: "Roboto", sans-serif;
    margin-top: 2%;
    cursor: pointer;
  }
}

.cards {
  font-family: "Roboto", sans-serif;
  height: 60vh;
  width: 100%; 
  background-color: #f1f8e9;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  display:flex;
  
  
  


.card {
  width: 15vw;
  height: 40vh;
  background-color: #ffffff;
  border-radius: 20px;
  border-style: outset;
  display: inline-block;
  text-align: center;
  
  
  
 

  img {
    width: 100%;
    border-radius: 20px 20px;
  }

  h3 {
    margin-top: 20px;
    font-size: 1.60rem;
    width: 50;
  }

  p {
    margin-top: 10px;
    font-size: 1rem;
    width: 80%;
    text-align: center;
    margin-left: 30px;
  }

    button {
    margin-top: 20px;
    padding: 10px;
    width: 60%;
    background-color: #66bb6a;
    color: #ffffff;
    border: none;
    font-size: 1.18rem;
    border-radius: 20px;
    cursor: pointer;
    
    }  
  
  
  }
}





  
  
  



  .formulario{
    font-family: "Roboto", sans-serif;
    background-color: #E8F5E9;
    height: 70vh;  
    width: 100%;
    
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    
    
    h2{
      text-align: center;
      align-items: center;
      margin-bottom: 60px;
      font-size: 2rem;

    }
    
    p{
      text-align: center;
      margin-bottom: 80px;

    }

    

    div{
      display: block;

      label{
        width: 110%;
        display: inline-block;
        box-sizing: border-box;
        flex-direction: column;
        align-items: center;
        border: solid;
        text-align: left;
        padding: 7px;
        padding-right: 60px;
        margin-right: 60px;

      }
      input{
        width: 110%;
        padding: 7px;
        padding-right: 60px;
        border-radius: 20px;
        margin-right: 90px;
      }

      select{
        width: 120%;
        padding: 7px;
        padding-right: 60;
        margin-right: 110px;
        border-radius: 25px;
      }

      option{
        width: 120%;
        margin-right: 90px;

      }

    }

    button{

    padding: 15px 30px;
    margin-top: 20px;
    width: 30%;
    background-color: #66bb6a;
    color: #ffffff;
    border: none;
    font-size: 1.18rem;
    border-radius: 25px;
    cursor: pointer;

    }

    


  }


  

  









footer{
    width: 100%;
    height: 8vh;
    background-color: #66BB6A;
    font-family: "Roboto", sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;

    
    

    p{
      text-align: center;
      font-size: 1.2rem;
      color:#ffffff;
            
      
      
      
      
    }
}
